
*.csv
/.idea
*.csv
/original_database
quantized_coeffs.txt
quantized_channels.txt
dataset/.DS_Store
*.pyc
*.json
my_alignment_positions.txt
/neo_tokenizer
/output
.env
combined_coeffs.txt
/neo_tokenizer
all_coeffs.txt
final_channels.txt
final_channels.txt
/log
goh
/validation_datasets
*.mat
/validation_datasets_imageNet
dataset/EEG-ImageNet_1.pth
log.txt
/dataset
/output_MEMA
*.png
/output_EMOTIV
final_report.txt
